/* ======= Impostazioni di base ======= */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url(../img/landscape.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* ======= Contenitore calendario ======= */
#calendario {
  width: 550px;
  margin: auto;
  padding-bottom: 10px;

  font-family: sans-serif;
  background-color: #a98541;
  border: 9px solid #8b7242;
  border-radius: 6px;
}


/* ======= Intestazione (mese + pulsanti) ======= */
.intestazione {
  display: flex;
  justify-content: space-between;
}


/* ======= Pulsanti navigazione mese ======= */
button {
  background-color: #8b7242;
  font-family: "Rubik Marker Hatch", system-ui;
  font-size: 20px;
}


/* ======= Font personalizzato ======= */
.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-size: 20px;
}


/* ======= Giorni della settimana + griglia ======= */
.giorni-settimana,
.griglia-giorni {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 5px;
  text-align: center;
  margin: auto;
  padding: 10px 0;
}


/* ======= Singolo giorno della griglia ======= */
.giorno {
  width: 35px;
  height: 35px;
  margin: auto;
  padding: 10px;

  border: 3px solid #856c3e;
  border-radius: 6px;
  color: #432818;
}