/* ======== Base Layout ======== */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url(../img/landscape.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* ======== Logo ======== */
#logo {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 35%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: contain;
  filter: brightness(0.7);
}


/* ======== Task Section ======== */
#tasks {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 35%;
  height: 25%;

  display: flex;
  justify-content: space-around;

  background-color: #806443;
  border-radius: 10px;
}


/* ======== Garden Section ======== */
#garden {
  position: relative;
  top: 25%;
  left: 10%;
  width: 40%;
  height: 50%;

  display: flex;
  justify-content: center;

  background-color: #806443;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: visible;
}


/* ======== Timer Section ======== */
#timer {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 35%;
  height: 40%;

  display: flex;
  justify-content: space-around;

  background-color: #806443;
  border-radius: 10px;
}


/* ======== Music Section ======== */
#music {
  position: absolute;
  bottom: 2%;
  left: 10%;
  width: 80%;
  height: 15%;

  background-color: #b98d59;
  border: 10px solid #806443;
  border-radius: 10px;
}


/* ======== Music Styling ======== */
.musicNP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicP {
  display: block;
  overflow-y: auto;
}

.musicP div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 15px 12% 10px 0;
}

.audio-label {
  flex: 0 0 50%;
  font-weight: bold;
  word-break: break-word;
}

.audio-player {
  flex: 1;
}


/* ======== Iframe & Audio ======== */
iframe {
  width: 100%;
  height: 100%;
  border: 10px solid #806443;
  border-radius: 10px;
}

audio {
  width: 300px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 2px solid #4caf50;
  border-radius: 10px;
}


/* ======== Etichette ======== */
.label {
  position: absolute;
  top: -14px;
  left: 20px;

  padding: 6px 12px;
  font-weight: bold;
  color: #000;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: saturate(0.8) blur(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Rubik Marker Hatch", sans-serif;
  z-index: 1;
}


/* ======== Font Rubik Marker Hatch ======== */
.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
