html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/landscape.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#logo{
    position: absolute;
    top: 5%;
    width: 35%;
    left:10%;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    background-color: #806443;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tasks{
    position: absolute;
    top: 5%;
    right:10%;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    background-color: #806443;
    height:25%;
    width: 35%;

}

#garden{
    position: absolute;
    top: 25%;
    left:10%;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    background-color: #806443;
    height:50%;
    width: 40%;
    
}

#timer{
    position: absolute;
    top: 35%;
    right:10%;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    background-color: #806443;
    height:40%;
    width: 35%;
}

#music{
    position: absolute;
    bottom: 2%;
    width: 80%;
    left:10%;
    border-radius: 10px;
    border: 10px solid #806443;
    background-color: #b98d59;
    height:15%;

}
.musicNP{
    display: flex;
    justify-content: center; /* centra orizzontalmente */
    align-items: center; 
}
.musicP{
    overflow-y: auto;
    display: block; 
}
.musicP div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px; /* spazio tra testo e player */
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 12%;
}

.audio-label {
    flex: 0 0 50%; /* massimo 50% larghezza fissa */
    word-break: break-word; /* va a capo se serve */    
    font-weight: bold;
}

.audio-player {
    flex: 1; /* il player prende lo spazio rimanente */
}

iframe{
    height: 100%;
    width: 100%;
    border: 10px solid #806443;
    border-radius:10px;
}

audio {
    width: 300px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 5px;
  }

.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}