.container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}
#containerButtons {
  display: flex;
  width: 60%;
  gap: 6%;
  margin-top: 5%;
  margin: left 20% right 20%;
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/timerBack.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 10px solid #806443;
  border-radius: 5%;
  min-width: 300px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/landscape.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#Ttitle {
  margin-top: 18%;
  font-size: 40px;
  margin-bottom: 0;
  color: #432818;
}

#Ttime {
  margin-top: 3%;
  font-size: 50px;
  margin-bottom: 0;
}

.buttons {
  width: 50%;
  border-radius: 7px;
  border: 4px solid #806443;
  background-color: #a68a64;
}

.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1000px) {
  #clock {
    width: 300px;
    height: 300px;
  }
  .buttons {
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1001px) {
  #clock {
    width: 30%;
    aspect-ratio: 1/1;
  }
}
