<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Marker+Hatch&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="logo" class="rubik-marker-hatch-regular"><h1>Garden Tomato</h1></div>
    <div id="tasks"><iframe src ="taskManager.html"></iframe></div>
    <div id="garden"><iframe src="calendar.html"></iframe></div>
    <div id="timer"><iframe src="timer.html"></iframe></div>
    <div id="music"></div>

    <script src="../scripts/songs.js"></script>
  </body>
</html>
