<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href = "../styles/taskStyle.css">
    <title>Document</title>
  </head>
  <body>
    <div id="taskContainer">
      <h2>Lista Task</h2>
      <div style="margin-bottom: 10px">
        <input type="text" id="taskInput" placeholder="Nuovo task..." />
        <button id="addTaskBtn">Aggiungi</button>
      </div>
      <div id="taskList"></div>
    </div>
    <script src = "../scripts/taskScp.js"></script>
  </body>
</html>
